html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #263238;
    color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.listHolder {
  margin: 0 auto;
  width: 50rem;
}

@media (max-width: 60rem) {
    .listHolder {
        width: 100%;
    }
}
