html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #263238;
    color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.container {
    padding: 0 0 0 4rem; /* Padding for sidebar */
}
