.todoList {
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: center;
}

.todoContainer {
    width: 60%;
}

@media (max-width: 978px) {
    .todoContainer {
        width: 100%;
    }
}

.todoContainer.dragged {
    box-shadow: 0 6px 100px black;
}

.todoContainer.placeholder {
    visibility: hidden;
}
