.task {
    background-color: yellow;
    font-size: 2rem;
    padding: 1rem;
}

.input-container {
    padding-left: 20px;
    padding-right: 20px;
}

.task input {
    max-width: 100%;
    background-color: transparent;
    border: 0px solid;
    outline: none;
    width: 10px;
}

/* Done list */
.done {
    color: #37474F;
    list-style: none;
    font-size: 2rem;
    text-decoration: line-through;
    padding: 1rem;
}

/* Buttons */
.buttons {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.buttons a {
    margin-left: 1rem;
}

.save {
    background-color: #29C6FF;
}

.add {
    background-color: #F44336;
}

.btn:hover.save, .btn-large:hover.save {
    background-color: #7DDCFF;
}

.btn:hover.add, .btn-large:hover.add {
    background-color: #FB6363;
}

