.swipePlaceholder {
    background-color: #263238;
    background: linear-gradient(90deg, #4CAF50 50%, #263238 50%);
    font-size: 2rem;
    padding: 1rem;
}

.swipePlaceholder .hidden {
   visibility: hidden;
}

.swipePlaceholder i {
    width: inherit;
    display: inline-block;
    line-height: 2rem;
}

.swipePlaceholder #done {
    float: left;
}

.swipePlaceholder #clear {
    float: right;
}
