.item {
    font-size: 2rem;
    height: 2rem;
    padding: 1rem;
    white-space: nowrap;
}

.item.list {
  background-color: #455a64;
  z-index: 100;
  cursor: pointer;
  border-bottom: 1px solid #37474F;
}

.taskContainer.dragged {
  box-shadow: 0 6px 100px black;
}

.taskContainer.placeholder {
  visibility: hidden;
}
