.completedWrapper {
  color: #37474F;
  overflow: hidden;
}

.completedWrapper .item.task {
  text-decoration: line-through;
  float: left;
  position: relative;
}

.completedWrapper .actionPlaceholder {
  position: absolute;
  right: 0;
}

.completedWrapper .actionPlaceholder i {
  border: solid;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.completedWrapper:hover .actionPlaceholder i {
  visibility: visible;
  opacity: 1;
}
